@using ProjectBear.Web.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jowybear", "Rosters", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Rosters", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (!Request.IsAuthenticated)
                    {
                        <li>
                            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = new ExternalLoginViewModels() }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="socialLink" id="Steam" name="provider" value="Steam"><span class="socialIcons">@*<img width="40" height="40" src="~/html/img/facebook-icon.svg" alt="" />*@</span>&nbsp; &nbsp;Sign in with Steam</button>
                            }
                        </li>
                    }
                    else
                    {
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="login-right"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log off</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jowybear</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
