@model ProjectBear.CMS.ViewModels.RosterTemplateManagementViewModel

<div>
    @using (Ajax.BeginForm("RosterTemplate", "RosterTemplateManagement", null, new AjaxOptions { }, new { id = "RosterTemplate" }))
    {
        //@Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 class="margintop40">Roster Templates</h4>
            <hr />
        </div>

        <div class="group">
            @Html.Hidden("Edited", Model.Edited)

            @Html.TextBoxFor(m => m.TemplateName, new { id = "TemplateName", type = "text", onblur = "SetTemplateName()" })
            <span class="highlight"></span> <span class="bar"></span>
            <label>Template Name</label>
            @Html.ValidationMessageFor(m => m.TemplateName, "", new { @class = "text-danger" })
        </div>


        <div class="group">
            @for (int i = 0; i < Model.TimeSlots.Count; i++)
            {
                <div id="@string.Format("TimeSlot{0}", i)" class="workExperSection margintop30">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].GameName, new { id = string.Format("GameName{0}", i), type = "text", onblur = string.Format("SetTimeSlotGameName({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Game</label>
                                @Html.ValidationMessageFor(m => m.TimeSlots[i].GameName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].Length, new { id = string.Format("Length{0}", i), type = "number", min = "15", onblur = string.Format("SetTimeSlotLength({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Slot Length</label>
                                @Html.ValidationMessageFor(m => m.TimeSlots[i].Length, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (i > 0)
                        {
                            <div class="col-lg-2 col-sm-12">
                                <button type="button" class="modalClose smallclose" onclick="DeleteTimeSlot(@i)">@*<img src="~/html/img/modal-close-white.svg" alt="" />*@</button>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].NumberOfPlayers, new { id = string.Format("NumberOfPlayers{0}", i), type = "number", min = "1", onblur = string.Format("SetTimeSlotNumberOfPlayers({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Number of Player Slots</label>
                                @Html.ValidationMessageFor(m => m.TimeSlots[i].NumberOfPlayers, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].NumberOfReserves, new { id = string.Format("NumberOfReserves{0}", i), type = "number", min = "1", onblur = string.Format("SetTimeSlotNumberOfReserves({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Number of Reserve Slots</label>
                                @Html.ValidationMessageFor(m => m.TimeSlots[i].NumberOfReserves, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="topmargin40">
            <button type="button" onclick="AddTimeSlot()" class="btn btn-primary margintopMobile20 text-left relative">Add Time Slot</button>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <input type="button" onclick="GoBack()" value="Go Back" class="btn btn-primary width130" />
            </div>
            <div class="col-lg-6 col-sm-12">
                <input type="button" onclick="SaveTemplate()" value="Save" class="btn btn-primary width130" />
            </div>
        </div>
    }
    <div id="saveCheckModal" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden=true>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close modalClose" data-dismiss="modal"><img src="~/html/img/modal-close.svg" alt="" /></button>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 ">
                        <h2 class="text-center margintop0 marginbottom30">You haven't saved?</h2>
                        <div class="row">
                            <div class="col-xs-12 marginbottom30">
                                <p class="text-center">Would you like to save changes before leaving?</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <button id="buttonNo" type="button" data-dismiss="modal" class="btn btn-default margintopMobile20 width144">No</button>
                            </div>
                            <div class="col-xs-6 text-center">
                                <button id="buttonYes" type="button" data-dismiss="modal" class="btn  btn-primary margintopMobile20 width144">Yes</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    function SetTemplateName() {
        var value = $('#RosterTemplate').find('#TemplateName')[0].value;
        $.ajax({
            url: '@Url.Action("SetTemplateName", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function AddTimeSlot() {
        $.ajax({
            url: '@Url.Action("AddTimeSlot", "RosterTemplateManagement")',
            type: 'POST',
            data: {
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function DeleteTimeSlot(index) {
        $.ajax({
            url: '@Url.Action("DeleteTimeSlot", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                index: index,
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function SetTimeSlotGameName(i) {
        var value = $('#RosterTemplate').find('#GameName' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotGameName", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotLength(i) {
        var value = $('#RosterTemplate').find('#Length' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotLength", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotOffset(i) {
        var value = $('#RosterTemplate').find('#Offset' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotOffset", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotNumberOfPlayers(i) {
        var value = $('#RosterTemplate').find('#NumberOfPlayers' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotPlayerCount", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotNumberOfReserves(i) {
        var value = $('#RosterTemplate').find('#NumberOfReserves' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotReserveCount", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SaveTemplate() {
        $.ajax({
            url: '@Url.Action("SaveTemplate", "RosterTemplateManagement")',
            type: 'POST',
            data: {
            },
        });
    }

    function GoBack() {
        if (document.getElementById('Edited').value.toUpperCase() == "TRUE") {
            $('#saveCheckModal').modal('show');
            $('#buttonYes').click(function () {
                $.ajax({
                    url: '@Url.Action("SaveTemplate", "RosterTemplateManagement")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                    },
                });
                window.location.href = '@Url.Action("Index", "RosterTemplateManagement")';
            });
            $('#buttonNo').click(function () {
                window.location.href = '@Url.Action("Index", "RosterTemplateManagement")';
            });
        }
        else {
            window.location.href = '@Url.Action("Index", "RosterTemplateManagement")';
        }
    }
</script>
