@model ProjectBear.CMS.ViewModels.RosterTemplateManagementViewModel
<div>
    @using (Ajax.BeginForm("RosterTemplate", "RosterTemplateManagement", null, new AjaxOptions { }, new { id = "RosterTemplateForm" }))
    {
        //@Html.AntiForgeryToken()
        <h2 style="margin-bottom:20px">Roster Template Creation</h2>

        <div style="margin-bottom:10px">
            <button style="width:120px; margin-right:10px" type="button" onclick="AddTimeSlot()">Add Time Slot</button>
            <button style="width:120px;" type="button" onclick="ValidateAndSave(@Model.TimeSlotCount)">Save Roster Template</button>
        </div>

        <div style="margin-bottom:10px">
            @Html.Hidden("Edited", Model.Edited)
            <label>Template Name</label>
            @Html.TextBoxFor(m => m.TemplateName, new { id = "TemplateName", type = "text", onblur = "SetTemplateName()" })
            <span id="TemplateNameValidation" style="display:none" class="field-validation-error text-danger">Enter a name for this template</span>
        </div>


        <div>
            @for (int i = 0; i < Model.TimeSlots.Count; i++)
            {


                <div id="@string.Format("TimeSlot{0}", i)" style="border-radius:6px; margin-bottom:20px; padding:10px; background-color: #dddddd">
                    <div style="position:absolute; float:left; padding:5px">
                        @if (i > 0)
                        {
                            <span id="@string.Format("toggleButton{0}", i)" class="glyphicon glyphicon-remove" onclick="DeleteTimeSlot(@i)" style="cursor: pointer"></span>
                        }
                    </div>
                    <div style="display:inline-block; margin-left:30px">
                        <div>
                            <div>
                                <div>
                                    <label style="width:170px">Game</label>
                                    @Html.TextBoxFor(m => m.TimeSlots[i].GameName, new { id = string.Format("GameName{0}", i), style = "width:300px", type = "text", onblur = string.Format("SetTimeSlotGameName({0})", i) })
                                    <span id="@string.Format("GameNameValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter a game for this time slot</span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label style="width:170px">Slot Length</label>
                                    @Html.TextBoxFor(m => m.TimeSlots[i].Length, new { id = string.Format("Length{0}", i), style = "width:300px", type = "number", min = "15", onblur = string.Format("SetTimeSlotLength({0})", i) })
                                    <span id="@string.Format("LengthValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter a duration for this time slot between 15 and 480 min</span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <div>
                                    <label style="width:170px">Number of Player Slots</label>
                                    @Html.TextBoxFor(m => m.TimeSlots[i].NumberOfPlayers, new { id = string.Format("NumberOfPlayers{0}", i), style = "width:300px", type = "number", min = "1", onblur = string.Format("SetTimeSlotNumberOfPlayers({0})", i) })
                                    <span id="@string.Format("NumberOfPlayersValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter the number of player slots for this time slot</span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label style="width:170px">Is Steam Game</label>
                                    @Html.CheckBoxFor(m => m.TimeSlots[i].IsSteamGame, new { id = string.Format("IsSteamGame{0}", i), style = "margin-top:2px", onchange = string.Format("SetIsSteamGame({0})", i) })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @*<div id="saveCheckModal" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden=true>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close modalClose" data-dismiss="modal"><img src="~/html/img/modal-close.svg" alt="" /></button>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 ">
                        <h2 class="text-center margintop0 marginbottom30">You haven't saved?</h2>
                        <div class="row">
                            <div class="col-xs-12 marginbottom30">
                                <p class="text-center">Would you like to save changes before leaving?</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <button id="buttonNo" type="button" data-dismiss="modal" class="btn btn-default margintopMobile20 width144">No</button>
                            </div>
                            <div class="col-xs-6 text-center">
                                <button id="buttonYes" type="button" data-dismiss="modal" class="btn  btn-primary margintopMobile20 width144">Yes</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>



<script type="text/javascript">

    function SetTemplateName() {
        var value = $('#RosterTemplateForm').find('#TemplateName')[0].value;
        $.ajax({
            url: '@Url.Action("SetTemplateName", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function AddTimeSlot() {
        $.ajax({
            url: '@Url.Action("AddTimeSlot", "RosterTemplateManagement")',
            type: 'POST',
            data: {
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function DeleteTimeSlot(index) {
        $.ajax({
            url: '@Url.Action("DeleteTimeSlot", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                index: index,
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function SetTimeSlotGameName(i) {
        var value = $('#RosterTemplateForm').find('#GameName' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotGameName", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotLength(i) {
        var value = $('#RosterTemplateForm').find('#Length' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotLength", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotOffset(i) {
        var value = $('#RosterTemplateForm').find('#Offset' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotOffset", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetTimeSlotNumberOfPlayers(i) {
        var value = $('#RosterTemplateForm').find('#NumberOfPlayers' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotPlayerCount", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function SetIsSteamGame(i) {
        var value = $('#RosterTemplateForm').find('#IsSteamGame' + i)[0].checked;
        $.ajax({
            url: '@Url.Action("SetIsSteamGame", "RosterTemplateManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
        document.getElementById('Edited').value = true;
    }

    function ValidateAndSave(count) {
        var form = $("#RosterTemplateForm");
        var isValid = true;
        var templateName = form.find('#TemplateName')[0].value
        if (/\S/.test(templateName)) {
            form.find("#TemplateNameValidation").hide();
        }
        else {
            isValid = false;
            form.find("#TemplateNameValidation").show();
        }

        for (var i = 0; i < count; i++) {

            var gameName = form.find('#GameName' + i)[0].value
            if (/\S/.test(gameName)) {
                form.find("#GameNameValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#GameNameValidation" + i).show();
            }


            var length = form.find('#Length' + i)[0].value
            if (length > 15 && length <= 400) {
                form.find("#LengthValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#LengthValidation" + i).show();
            }

            var numberOfPlayers = form.find('#NumberOfPlayers' + i)[0].value
            if (numberOfPlayers >= 0) {
                form.find("#NumberOfPlayersValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#NumberOfPlayersValidation" + i).show();
            }
        }

        if (isValid) {
            $.ajax({
                url: '@Url.Action("SaveTemplate", "RosterTemplateManagement")',
                type: 'POST',
                data: {
                },
                success: function() {
                    document.getElementById('Edited').value = false;
                    window.location = "/Content/RosterTemplateManagement";
                }
            });
        }
    }
</script>
