@model ProjectBear.CMS.ViewModels.RosterManagementViewModel

<div>
    @using (Ajax.BeginForm("Roster", "RosterManagement", null, new AjaxOptions { }, new { id = "RosterForm" }))
    {
        //@Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 class="margintop40">Roster Creation</h4>
            <hr />
        </div>

        <div class="group" style="margin-bottom:10px">
            @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy HH:mm}", new { id = "Date", type = "text", onchange = "SetDate()" })
            <span class="highlight"></span> <span class="bar"></span>
            <label>Start date</label>
            <span id="DateValidation" style="display:none" class="field-validation-error text-danger">Enter a date for this roster</span>
        </div>


        <div class="group">
            @for (int i = 0; i < Model.TimeSlots.Count; i++)
            {
                <div id="@string.Format("TimeSlot{0}", i)" style="margin-bottom:20px; padding:10px; background-color: #dddddd">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].GameName, new { id = string.Format("GameName{0}", i), type = "text", onblur = string.Format("SetTimeSlotGameName({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Game</label>
                                <span id="@string.Format("GameNameValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter a game for this time slot</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].Length, new { id = string.Format("Length{0}", i), type = "number", min = "15", onblur = string.Format("SetTimeSlotLength({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Slot Length</label>
                                <span id="@string.Format("LengthValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter a duration for this time slot between 15 and 480 min</span>
                            </div>
                        </div>
                        @if (i > 0)
                        {
                            <div class="col-lg-2 col-sm-12">
                                <button type="button" class="modalClose smallclose" onclick="DeleteTimeSlot(@i)">@*<img src="~/html/img/modal-close-white.svg" alt="" />*@</button>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].NumberOfPlayers, new { id = string.Format("NumberOfPlayers{0}", i), type = "number", min = "1", onblur = string.Format("SetTimeSlotNumberOfPlayers({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Number of Player Slots</label>
                                <span id="@string.Format("NumberOfPlayersValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter the number of player slots for this time slot</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="group">
                                @Html.TextBoxFor(m => m.TimeSlots[i].NumberOfReserves, new { id = string.Format("NumberOfReserves{0}", i), type = "number", min = "1", onblur = string.Format("SetTimeSlotNumberOfReserves({0})", i) })
                                <span class="highlight"></span> <span class="bar"></span>
                                <label>Number of Reserve Slots</label>
                                <span id="@string.Format("NumberOfReservesValidation{0}", i)" style="display:none" class="field-validation-error text-danger">Enter the number of reserve slots for this time slot</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="topmargin40">
            <button type="button" onclick="AddTimeSlot()" class="btn btn-primary margintopMobile20 text-left relative">Add Time Slot</button>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                @Html.ActionLink("Go Back", "Index", "RosterManagement", null, new { @class = "btn btn-primary" })
            </div>
            <div class="col-lg-6 col-sm-12">
                <input type="button" onclick="ValidateAndSave(@Model.TimeSlotCount)" value="Save" class="btn btn-primary width130" />
            </div>
        </div>
    }
</div>

<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.datetimepicker.min.css" />
<script src="/Scripts/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#RosterForm").find("#Date").datetimepicker({
            //changeDay: true,
            //changeMonth: true,
            //changeYear: true,
            format: 'd/m/Y H:i',  
            step: 15,
            theme: 'dark', 
        });

        $("#RosterForm").find("#Date").on('click', function () {
            $("#RosterForm").find("#Date").datetimepicker('show');
        });
    });

    function SetDate() {
        var value = $('#RosterForm').find('#Date')[0].value;
        $.ajax({
            url: '@Url.Action("SetStartTime", "RosterManagement")',
            type: 'POST',
            data: {
                value: value,
            },
        });
    }

    function AddTimeSlot() {
        $.ajax({
            url: '@Url.Action("AddTimeSlot", "RosterManagement")',
            type: 'POST',
            data: {
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function DeleteTimeSlot(index) {
        $.ajax({
            url: '@Url.Action("DeleteTimeSlot", "RosterManagement")',
            type: 'POST',
            data: {
                index: index,
            },
            success: function (result) {
                $('#update-body').html(result);
            }
        });
    }

    function SetTimeSlotGameName(i) {
        var value = $('#RosterForm').find('#GameName' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotGameName", "RosterManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
    }

    function SetTimeSlotLength(i) {
        var value = $('#RosterForm').find('#Length' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotLength", "RosterManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
    }

    function SetTimeSlotNumberOfPlayers(i) {
        var value = $('#RosterForm').find('#NumberOfPlayers' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotPlayerCount", "RosterManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
    }

    function SetTimeSlotNumberOfReserves(i) {
        var value = $('#RosterForm').find('#NumberOfReserves' + i)[0].value;
        $.ajax({
            url: '@Url.Action("SetTimeSlotReserveCount", "RosterManagement")',
            type: 'POST',
            data: {
                value: value,
                index: i,
            },
        });
    }

    function ValidateAndSave(count) {
        var form = $("#RosterForm");
        var isValid = true;

        var date = form.find('#Date')[0].value
        if (/\S/.test(date)) {
            form.find("#DateValidation").hide();
        }
        else {
            isValid = false;
            form.find("#DateValidation").show();
        }

        for (var i = 0; i < count; i++) {

            var gameName = form.find('#GameName' + i)[0].value
            if (/\S/.test(gameName)) {
                form.find("#GameNameValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#GameNameValidation" + i).show();
            }


            var length = form.find('#Length' + i)[0].value
            if (length > 15 && length <= 400) {
                form.find("#LengthValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#LengthValidation" + i).show();
            }

            var numberOfPlayers = form.find('#NumberOfPlayers' + i)[0].value
            if (numberOfPlayers >= 0) {
                form.find("#NumberOfPlayersValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#NumberOfPlayersValidation" + i).show();
            }

            var numberOfReserves = form.find('#NumberOfReserves' + i)[0].value
            if (numberOfReserves >= 0 ) {
                form.find("#NumberOfReservesValidation" + i).hide();
            }
            else {
                isValid = false;
                form.find("#NumberOfReservesValidation" + i).show();
            }
        }

        if (isValid) {
            $.ajax({
                url: '@Url.Action("SaveRoster", "RosterManagement")',
                type: 'POST',
                data: {
                },
            });
        }
    }


</script>
