@model IEnumerable<ProjectBear.CMS.ViewModels.RosterManagementViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization;

<h4>Roster Management</h4>
<hr />
@Html.ActionLink("Add", "Add", "RosterManagement", null, new { @class = "btn btn-primary" })
<br />
<div class="row">
    <div class="col-md-8 col-sm-12">
        <table class="table table bordered">
            <tr>
                <th>Date</th>
                <th>Published</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var roster in Model)
            {
                <tr>
                    <td>@string.Format(roster.Date.ToString(), "dd MMM yyyy")</td>
                    <td>@roster.IsPublished  ? "Published" : "Hidden")</td>

                    
                    <td>@Html.ActionLink("Edit", "Edit", "RosterManagement", new { id = roster.RosterId }, null)</td>
                    <td>@Html.ActionLink("Publish", "Publish", "RosterManagement", (object) new { id = roster.RosterId }, roster.IsPublished ? new {disabled = "disabled" } : null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "RosterManagement", new { id = roster.RosterId }, null)</td>
                </tr>
            }
        </table>
    </div>
</div>